.heading {
  margin: 10px 60px 10px 70px;
  padding: 10px;
  /* border: 2px solid black; */
}

.footer {
  margin: 30px 60px 10px 60px;
  padding: 10px;
  text-align: center;
}

.container {
  padding: 10px;
  margin: 20px auto;
  border: 2px solid #212529;
  border-radius: 10px;
  /* background-color: #8a2be2; */
}

.currentLable{
  text-align: center;
}

.chickinout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  /* background-color: blue; */
}

.disp {
  display: none;
}

.btn {
  margin: 0px 20px;
  width: 50%;
}

.time {
  padding: 10px auto;
}
